@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
.nav-bg{
  background-color: orange;
}

.img-wrapper {
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: spin 12s linear infinite;
}

.img-wrapper:hover {
  animation-play-state: paused;
}

.img-wrapper img{
  object-fit: covers; /* ensures image fills the wrapper  without distortion */
}
