.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;
  background-color: #111827;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.img-wrapper {
  width: 150px; /* Makes image smaller */
  height: 150px;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: spin 12s linear infinite;
}

.img-wrapper:hover {
  animation-play-state: paused;
}

.img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: covers; /* ensures image fills the wrapper  without distortion */

}

.navGeneralList {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navItem {
  color: white;
  cursor: pointer;
}

.navItem:hover {
  color: #60a5fa;
}