.section_all{
    background-color: #010020;
}

#root, .app-container{
    min-height: 85vh;
    background-color: black;
    display:flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}